<div class ="menu"> 
    <h2>Sales Master App</h2> 
    <ul class="nav justify-content-end menu-right"> 
    
    
    <li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ></a> 
    
    <!--Dropdown Menu--> 
    <div class="dropdown-menu"> 
    <a class="dropdown-item" (click)="addTeam()">Add Team</a> 
    <div class="dropdown-divider"></div> 
    <a class="dropdown-item" (click)="logout()">Logout</a> 
    </div> 
    </li> 
    </ul> </div> 
    <br><br> 
    <div class="container" id="box"> 
    <div id="accordion" class="accordion" > 
    <div class="card mb-0"> 
    <a class="card-header collapsed" data-toggle="collapse" href="#collapseOne1"> 
    <div class="card-title"> 
    surbhi 
    </div> 
    </a> 
    <div id="collapseOne1" class="card-body collapse" data-parent="#accordion" > 
    <form [formGroup]="parentFormGroup"> 
    <div class="flex-container"> 
    <label> 
    Team Name<br> 
    <input type="text" formControlName="team"> 
    </label> 
    <br><br><br> 
    <label> 
    Amount<br> 
    <input type="number" formControlName="amount"> 
    </label> 
    </div> 
    <br><br> 
    </form> 
    </div><br> 
    
    
    </div> 
    </div> 
    </div>