<div class ="list">
    <app-header></app-header>
  </div>
    <br><br> <br>
  <br>
    <div>
        
    <div *ngFor="let team of teams; let i =index;">
      
     
  
          <div class="container ">
              <div class="panel-group" id="faqAccordion">
                  <div class="panel panel-default ">
                      <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" [attr.data-target]="'#question'+i">
                           <h4 class="panel-title">
                                  {{teams[i].team_name}}<span>{{teams[i].amount | currency:'USD'}}</span>
                        </h4>
          
                      </div>
                      <div [attr.id]="'question'+i" class="panel-collapse collapse" style="height: 0px;">
                          <div class="panel-body">
                                  
                                     <button type="submit" data-toggle="modal" data-target="#myModal" (click)="modalview(i,teams[i].team_name,teams[i].amount, teams[i].team_id)">Edit</button> 
                                     <!--<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->
                                      <button type="submit" (click)="delete(teams[i].team_id)">Delete</button> 
                          </div>
                      </div>
                  </div>
                </div>
                </div>
                <router-outlet></router-outlet> 
                </div>
                
                <app-footer></app-footer>
               <!-- <div> <h4>Total amount</h4><span>{{totalAmount | currency:'USD'}}</span></div> -->
                