

  <div class="jumbotron menu m-0">
    <h2>Sales Master App</h2> 
<ul class="nav nav-pills dropmenu"> 
  

<li class="nav-item dropdown" style="left: 25%;" > 
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a> 
<div class="dropdown-menu"> 

 <!-- here i display number of dropdown menu of Add nd logout   -->
<a class="dropdown-item" data-toggle="modal" data-target="#myModal" (click)="addTeam()" #closeAddExpenseModal>Add Team</a> 
<a class="dropdown-item" (click)="logout()">Logout</a> 
</div> 
</li> 
</ul>
</div> 


    