<h1>Sales Master</h1> 
<br><br> 
<img src="assets/favicon.png" style="height: 150px; margin-left:630px;"> 
<br> 
<div style="width: 400px;margin: 10px 550px;"> 
<form [formGroup]="signUpForm" class="center" > 
<div class="form-group"> 
<label for="email">Email</label><br> 
<input type="text" formControlName="email" placeholder="Enter email" 
class="form-control" [ngClass]="{ 'is-invalid': submitted && email.errors }" /> 
<!-- <div *ngIf="submitted && email.errors" class="invalid-feedback"> 
<div *ngIf="email.errors.required">Email is required</div>  -->
<!-- </div>  -->
</div> 
<br> 
<div class="form-group center"> 
<label for="password">Password</label><br> 
<input type="password" formControlName="password" placeholder="Enter password" 
class="form-control" [ngClass]="{ 'is-invalid': submitted && password.errors }" /> 
<!-- <div *ngIf="submitted && password.errors" class="invalid-feedback"> 
<div *ngIf="password.errors.required">Password is required</div> 
</div>  -->
</div> 
<br><br> 
<div class="form-group center"> 
<button type="submit" class="btn btn-primary m-t-20" id="but" (click)="submit(signUpForm.value)">Login</button> 
</div> 
</form> 
</div>