<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Sales Master"></Label>
</ActionBar>

<Image src="res://favicon" stretch="none" horizontalAlignment="center"></Image>
  <StackLayout class="form" [formGroup]="signUpForm" >
    <Label class="text-label" text="E-Mail"></Label> 
    <TextField class="input" formControlName="email" class="input input-border"   hint="Email Address" keyboardType="email" autocorrect="false"
      autocapitalizationType="none"></TextField>
      <Label class="text-label" text="Password"></Label> 
    <TextField class="input" formControlName="password" class="input input-border" hint="Password" secure="true"></TextField>
    <Button text="Log In" class="btn btn-primary m-t-20" (tap)="submit(signUpForm.value)"></Button>
  </StackLayout>
