span{
    float: right;
    margin-right:10%;
    margin-bottom: 15%;
}
h4{
    margin-left: 10%;
    color: black;
    margin-bottom: 15%;
}
.menu{
   
    height:20px ;
    padding-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}